<footer class="footer sec-padding" style="background: url('https://via.placeholder.com/1920x1080');">
    <div class="container">
        <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
            <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
                <div class="title">
                    <h5>Address</h5>
                </div>
                <div class="row">
                    <p>Here is my address.</p>
                </div>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo" href="index.html"><h2>Express-app</h2></a>
                <div class="title">
                    <h5>Social networks</h5>
                </div>
                <div class="row">
                    <p>I didn't find brand icons, so here are some cusom ones.</p>
                </div>
                <ul fxLayout="row" fxLayoutAlign="center center" class="social list-inline">
                    <!-- TODO: add normal social icons, right now I cannot find them in the font awesome library -->
                    <li><a href="#"><fa-icon [icon]="faTeeth"></fa-icon></a></li>
                    <li><a href="#"><fa-icon [icon]="faGamepad"></fa-icon></a></li>
                    <li><a href="#"><fa-icon [icon]="faFeather"></fa-icon></a></li>
                    <li><a href="#"><fa-icon [icon]="faLink"></fa-icon></a></li>
                    <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                </ul>
            </div>
            <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
                <div class="title">
                    <h5>Contact Me</h5>
                </div>
                <div class="link"><a href="mailto:viktoryia.stanko@gmail.com">viktoryia.stanko@gmail.com</a> </div>
            </div>
        </div>
    </div>
</footer>
