<div *ngIf="loading">{{'postUpdate.loading' | translate }}</div>
<mat-list>
    <mat-card>
        <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <img *ngIf="post.image" [src]="post.image" alt="Post image">
            <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
            <button mat-raised-button color="primary" (click)="fileInput.click()">{{'postUpdate.uploadImageButton' | translate }}</button>
            <p>{{'postUpdate.updateImage' | translate }}</p>
            <mat-form-field class="full-width-input">
                <mat-label>{{'postUpdate.title' | translate }}</mat-label>
                <input matInput *ngIf="id" placeholder="Title" formControlName="title" required value="{{post.title}}">
                <input matInput *ngIf="!id" placeholder="Title" formControlName="title" required>
                <mat-error>
                    {{'postUpdate.titleError' | translate }}
                </mat-error>
            </mat-form-field>
            <!-- <mat-form-field class="full-width-input">
                <mat-label>{{'postUpdate.text' | translate }}</mat-label>
                <input matInput *ngIf="id" placeholder="Post Text" formControlName="postText" required value="{{post.postText}}">
                <input matInput *ngIf="!id" placeholder="Post Text" formControlName="postText" required>
                <mat-error>
                    {{'postUpdate.textError' | translate }}
                </mat-error>
            </mat-form-field> -->
            <quill-editor 
                    [styles]="{height: '200px'}" 
                    (onFocus)="focus($event)" 
                    (onEditorChanged)="changedEditor($event)"
                    (onBlur)="blur($event)" 
                    (onEditorCreated)="addBindingCreated($event)"
                    [(ngModel)]="content" trackChanges="all" [modules]="modules" placeholder="Post Text" formControlName="postText"
                ></quill-editor>
            <div *ngIf="id">
                <mat-list-item>{{'postUpdate.createdAt' | translate }}{{ post.createdAt | date:'MM/dd/yyyy' }}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{'postUpdate.updatedAt' | translate }}{{ post.updatedAt | date:'MM/dd/yyyy' }}</mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>{{'postUpdate.Id' | translate }}{{ post._id }}</mat-list-item>
                <button mat-raised-button color="primary">{{'postUpdate.updateButton' | translate }}</button>
            </div>
            <button mat-raised-button color="primary" *ngIf="!id">{{'postUpdate.createButton' | translate }}</button>
        </form>
    </mat-card>
</mat-list>
