<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>{{'login.login' | translate }}</h2>
      <mat-error *ngIf="isLoginError">
        {{'login.formError' | translate }}
      </mat-error>
      <mat-form-field class="full-width-input">
        <mat-label>{{'login.emailLabel' | translate }}</mat-label>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>
          {{'login.emailError' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>{{'login.passwordLabel' | translate }}</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          {{'login.passwordError' | translate }}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">{{'login.loginButton' | translate }}</button>
    </form>
    <a href="http://localhost:3005/api/social/github" target="_blank">
      <button mat-raised-button color="light">
        <fa-icon [icon]="faGithub"></fa-icon>
        <span>{{'login.githubLogin' | translate }}</span>
      </button>
    </a>
  </mat-card-content>
</mat-card>
