<a *ngIf="isAdmin" href="http://localhost:3005/admin/">
    <button mat-raised-button color="primary">{{'user.adminButton' | translate }}</button>
</a>

<mat-list>
    <mat-card>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <img [src]="user.photo || getDetaultPhoto()" [alt]="'user.imagePlaceholder' | translate">
            <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput>
            <button mat-raised-button color="primary" (click)="fileInput.click()">{{'user.uploadImageButton' | translate }}</button>
            <mat-error *ngIf="formError">
                {{'user.formError' | translate }}
              </mat-error>
            <mat-form-field class="full-width-input">
                <mat-label>{{'user.emailLabel' | translate }}</mat-label>
                <input matInput [placeholder]="{{'user.emailPlaceholder' | translate }}" formControlName="email" required value="{{user.email}}">
                <mat-error>
                    {{'user.emailError' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{'user.firstNameLabel' | translate }}</mat-label>
                <input matInput [placeholder]="{{'user.firstNamePlaceholder' | translate }}" formControlName="firstName" required value="{{user.firstName}}">
                <mat-error>
                    {{'user.firstNameError' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{'user.lastNameLabel' | translate }}</mat-label>
                <input matInput [placeholder]="{{'user.lastNamePlaceholder' | translate }}" formControlName="lastName" required value="{{user.lastName}}">
                <mat-error>
                    {{'user.lastNameError' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <mat-label>{{'user.birthDateLabel' | translate }}</mat-label>
                <input matInput [matDatepicker]="picker" [placeholder]="{{'user.birthDatePlaceholder' | translate }}" formControlName="birthDate" required required value="{{user.birthDate}}">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error>
                    {{'user.birthDateError' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-list-item>{{'user.createdAt' | translate }}{{ user.createdAt | date:'MM/dd/yyyy' }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{'user.updatedAt' | translate }}{{ user.updatedAt | date:'MM/dd/yyyy' }}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>{{'user.Id' | translate }}{{ user._id }}</mat-list-item>
            <button mat-raised-button color="primary">{{'user.updateButton' | translate }}</button>
        </form>
    </mat-card>
</mat-list>
