<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/posts">Blog</a>
      <a mat-list-item routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo-text"><a class="top-link" routerLink="/">Express-app</a></span>
      <span *ngIf="(isHandset$ | async) === false">
        <a class="top-link" routerLink="/posts">Blog</a>
        <a class="top-link" routerLink="/about">About</a>
      </span>
      <span class="spacer"></span>
      <span class="dark-mode-switch">
        <mat-slide-toggle (change)="onDarkModeSwitched($event)"></mat-slide-toggle>
      </span>
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
      <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
      <a routerLink="/login"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">login</mat-icon></a>
      <a routerLink="/signup"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">input</mat-icon></a>
      <a routerLink="/logout"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon></a>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">person</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item disabled> -->
        <button mat-menu-item>
          <a routerLink="/user">
            <mat-icon>settings</mat-icon>
            <span>Profile settings</span>
          </a>
        </button>
        <button mat-menu-item>
          <a routerLink="/logout">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </a>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content ></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
