<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer #snav class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [ngClass]="{hidden: (isHandset$ | async) === false}"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>{{'navbar.menu.name' | translate }}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="snav.toggle()" routerLink="/posts"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">notes</mat-icon>{{'navbar.menu.blog' | translate }}</a>
      <a mat-list-item (click)="snav.toggle()" routerLink="/about"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">insert_emoticon</mat-icon>{{'navbar.menu.about' | translate }}</a>
      <a mat-list-item (click)="snav.toggle()" routerLink="/login" *ngIf="!isLogin"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">login</mat-icon>{{'navbar.menu.login' | translate }}</a>
      <a mat-list-item (click)="snav.toggle()" routerLink="/signup" *ngIf="!isLogin"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">input</mat-icon>{{'navbar.menu.signup' | translate }}</a>
      <a mat-list-item (click)="snav.toggle()" routerLink="/user" *ngIf="isLogin"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">settings</mat-icon>{{'navbar.menu.profile' | translate }}</a>
      <a mat-list-item *ngIf="isLogin" (click)="logout()"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon>{{'navbar.menu.logout' | translate }}</a>     
      <span>
        <select 
            class="form-control custom-select" 
            #selectedLangMenu 
            (change)="switchLang(selectedLangMenu.value)">
          <option *ngFor="let language of translate.getLangs()" 
            [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
          </option>
        </select>
      </span>
      <span class="dark-mode-switch">
        <mat-slide-toggle (change)="onDarkModeSwitched($event)"></mat-slide-toggle>
      </span>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo-text"><a class="top-link" routerLink="/">Express-app</a></span>
      <span *ngIf="(isHandset$ | async) === false">
        <a class="top-link" routerLink="/posts">{{'navbar.blog' | translate }}</a>
        <a class="top-link" routerLink="/about">{{'navbar.about' | translate }}</a>
      </span>
      <span class="spacer"></span>
      <span *ngIf="(isHandset$ | async) === false">
        <select 
            class="form-control custom-select" 
            #selectedLang 
            (change)="switchLang(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()" 
            [value]="language"
            [selected]="language === translate.currentLang">
            {{ language }}
          </option>
        </select>      
      </span>
      <span *ngIf="(isHandset$ | async) === false" class="dark-mode-switch">
        <mat-slide-toggle (change)="onDarkModeSwitched($event)"></mat-slide-toggle>
      </span>
      <span *ngIf="(isHandset$ | async) === false">
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon> -->
        <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon> -->
        <a routerLink="/login" *ngIf="!isLogin"><mat-icon class="example-icon white" aria-hidden="false" aria-label="Example delete icon">login</mat-icon></a>
        <a routerLink="/signup" *ngIf="!isLogin"><mat-icon class="example-icon white" aria-hidden="false" aria-label="Example delete icon">input</mat-icon></a>
        <a *ngIf="isLogin" (click)="logout()"><mat-icon class="example-icon white" aria-hidden="false" aria-label="Example delete icon">logout</mat-icon></a>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" *ngIf="isLogin">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!-- <button mat-menu-item disabled> -->
          <button mat-menu-item>
            <a routerLink="/user">
              <mat-icon>settings</mat-icon>
              <span>{{'navbar.matMenu.profile' | translate }}</span>
            </a>
          </button>
          <button mat-menu-item>
            <a routerLink="/logout">
              <mat-icon>logout</mat-icon>
              <span>{{'navbar.matMenu.logout' | translate }}</span>
            </a>
          </button>
        </mat-menu>
      </span>
    </mat-toolbar>
    <ng-content ></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
