<mat-card>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h2>{{'signup.signup' | translate }}</h2>
      <mat-error *ngIf="isSignupError">
        {{'signup.formError' | translate }}
      </mat-error>
      <mat-form-field class="full-width-input">
        <mat-label>{{'signup.emailLabel' | translate }}</mat-label>
        <input matInput placeholder="{{'signup.emailLabel' | translate }}" formControlName="email" required>
        <mat-error>
          {{'signup.emailError' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>{{'signup.firstNameLabel' | translate }}</mat-label>
        <input matInput placeholder="{{'signup.emailPlaceholder' | translate }}" formControlName="firstName" required>
        <mat-error>
          {{'signup.firstNameError' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>{{'signup.lastNameLabel' | translate }}</mat-label>
        <input matInput placeholder="{{'signup.lastNamePlaceholder' | translate }}" formControlName="lastName" required>
        <mat-error>
          {{'signup.lastNameError' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>{{'signup.birthDateLabel' | translate }}</mat-label>
        <input matInput [matDatepicker]="picker" placeholder="{{'signup.birthDatePlaceholder' | translate }}" formControlName="birthDate" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>
          {{'signup.birthDateError' | translate }}
          </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>{{'signup.passwordLabel' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{'signup.passwordPlaceholder' | translate }}" formControlName="password" required>
        <mat-error>
          {{'signup.passwordError' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <mat-label>{{'signup.confirmPasswordLabel' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{'signup.passwordConfirmPlaceholder' | translate }}" formControlName="passwordConfirmation" required [errorStateMatcher]="matcher">
        <mat-error>
          {{'signup.confirmPasswordError' | translate }}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">{{'signup.signupButton' | translate }}</button>
    </form>
    <a href="http://localhost:3005/api/social/github" target="_blank">
      <button mat-raised-button color="light">
        <fa-icon [icon]="faGithub" class="github-icon"></fa-icon>
        <span>{{'signup.githubLogin' | translate }}</span>
      </button>
    </a>
  </mat-card-content>
</mat-card>
