.post-card {
    margin: 20px 200px;

    span {
        margin: 3px;
    }
}

.author-photo {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-style: none;
    border-radius: 50%;
}

@media (max-width: 800px) {
    .post-card {
        margin: 20px 10px;
    }
}